.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  color: white;
}

.nav-items-right {
  display: flex;
  gap: 15px;
}
