.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-color: black;
}

.pagination-right {
  display: flex;
  gap: 15px;
}

.pagination-left {
  
}
